# Sensitive
.env
*.key
*.crt
*.pem
secrets/

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
venv/
env/
.pytest_cache/

# Docker
docker-compose.old.yml
docker-compose.override.yml
velociraptor-data/
velociraptor-logs/
openemr-data/
openemr-logs/
openemr-db/
orthanc-data/
orthanc-logs/

# Logs
*.log
